body {
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

form{
    background-color: aqua;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    transition: 0.9s;
}
h1:hover{
    font-size: 35px;
    color: rgb(43, 0, 255);
}

input {
    background-color: antiquewhite;
}

table {
    width: 80%;
    margin: 40px auto;
    background: rgb(135, 212, 221);
}

table.output {
    text-align: center;
    width: 100%;
}

.aa {
    font-size: 20px;
    font-style: inherit;
}

td {
    border: 1px solid whitesmoke;
    text-align: left;
    padding: 8px 15px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="img"] {
    padding: 12px 20px;
    width: 91%;
    display: inline-flex;
    margin: 8px 0;
    border: 2px solid rgb(170, 165, 165);
    border-radius: 10px;
}

input[type="submit"],
input[type="reset"] {
    padding: 15px 20px;
    display: flexbox;
    margin: 22px 40px 15px;
    border-radius: 300px;
    font-size: 10px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: rgb(28 202 49);
}

input[type="reset"] {
    background-color: rgb(244, 47, 26);
}

th {
    font-size: 20px;
}


#btn{
    transition: 0.6s;
}
#btn2{
    transition: 0.6s;
}
#btn:hover{
    border: 3px solid crimson;
}
#btn2:hover{
    border: 3px solid black;
}

.aa input:hover{
    border-radius: 25px;
    padding: 10px;
    border: 2px solid crimson;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  #img{
      background-color: gray;
      border-radius: 15px;
      border: 2px solid crimson;
  }
  .a2{
      
    font-size: 20px;
    font-style: inherit;
  }